/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');

/* Root */
:root {
    --marine-blue: hsl(213, 96%, 18%);
    --purplish-blue: hsl(243, 100%, 62%);
    --pastel-blue: hsl(228, 100%, 84%);
    --light-blue: hsl(206, 94%, 87%);
    --strawberry-red: hsl(354, 84%, 57%);

    --cool-gray: hsl(231, 11%, 63%);
    --light-gray: hsl(229, 24%, 87%);
    --magnolia: hsl(217, 100%, 97%);
    --alabaster: hsl(231, 100%, 99%);
    --white: hsl(0, 0%, 100%);

    --fw-400: 400;
    --400-italic: italic;
    --fw-500: 500;
    --500-italic: italic;
    --fw-700: 700;
    --700-italic: italic;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 16px;
    font-family: 'Ubuntu', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: var(--light-gray);
}

/* Steps */
#second-step,
#third-step,
#fourth-step,
#fifth-step {
    display: none;
}

/* Title */
.title {
    color: var(--marine-blue);
    font-size: 3rem;
    margin-bottom: 20px;
}

.first-step-button {
    float: right;
}

.btn {
    background-color: var(--marine-blue);
    color: var(--white);
    border: none;
    padding: 15px 20px;
    border-radius: 8px;
    font-family: 'Ubuntu', sans-serif;
    cursor: pointer;
    transition: background-color 0.4s;
}

.btn:hover {
    background-color: var(--purplish-blue);
}

.first-step-form span {
    position: absolute;
    right: 0;
    color: var(--strawberry-red);
    font-weight: var(--fw-700);
    display: none;
}

/* Container */
.container {
    padding: 20px;
    border-radius: 8px;
    display: flex;
    background-color: var(--white);
    margin: 0 20px;
}

/* Steps */
.sidebar {
    background: url(../images/bg-sidebar-desktop.svg) no-repeat center center;
    background-size: cover;
    width: 274px;
    height: 568px;
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 0;
    color: var(--white);
    text-transform: uppercase;
    letter-spacing: 2px;
}

.steps {
    display: flex;
    align-items: center;
    gap: 20px;
}

.steps:not(:last-child) {
    margin-bottom: 25px;
}

.steps div p:nth-child(1) {
    color: var(--alabaster);
    font-size: 0.8rem;
    margin-bottom: 2px;
}

.steps div p:nth-child(2) {
    font-weight: var(--fw-700);
}

.steps-number.active {
    border: 1px solid var(--light-blue);
    background-color: var(--light-blue);
    color: var(--marine-blue);
}

.steps-number {
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--white);
}

/* The switch - the box around the slider */
.switch {
    font-size: 17px;
    position: relative;
    display: inline-block;
    width: 3em;
    height: 1.6em;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--marine-blue);
    border: 1px solid var(--marine-blue);
    transition: 0.4s;
    border-radius: 30px;
}

.slider:before {
    position: absolute;
    content: '';
    height: 1em;
    width: 1em;
    border-radius: 20px;
    left: 0.27em;
    bottom: 0.25em;
    background-color: var(--white);
    transition: 0.4s;
}

input:focus + .slider {
    box-shadow: 0 0 1px #007bff;
}

input:checked + .slider:before {
    transform: translateX(1.4em);
    background-color: #fff;
}

/* Content */
.content {
    padding: 60px 100px 0 100px;
}

.checkbox-container {
    position: relative;
}

.checkbox-label {
    display: inline-block;
    cursor: pointer;
    user-select: none;
}

.checkbox-content {
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: background-color 0.3s;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.checkbox-container span {
    color: var(--purplish-blue);
}

.checkbox-container input[type='checkbox'] {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.checkbox-container
    input[type='checkbox']:checked
    + .checkbox-label
    .checkbox-content {
    background-color: var(--magnolia);
    border: 1px solid var(--purplish-blue);
}

/* First step */
.description {
    margin-bottom: 40px;
    font-size: 1.2rem;
    color: var(--cool-gray);
}

.first-step-form div {
    margin-bottom: 20px;
    position: relative;
}

.first-step-form label {
    color: var(--marine-blue);
}

.first-step-form input {
    width: 100%;
    border-radius: 8px;
    padding: 15px;
    margin-top: 5px;
    border: 1px solid var(--light-gray);
    cursor: pointer;
    color: var(--marine-blue);
    font-weight: var(--fw-500);
    font-size: 1.1rem;
    font-family: 'Ubuntu', sans-serif;
    outline: none;
}

.first-step-form input::placeholder {
    font-size: 1rem;
    color: var(--cool-gray);
    font-weight: var(--fw-400);
}

/* Second-step */
.subscription-container {
    display: flex;
    gap: 20px;
}

.select-plan {
    border: 1px solid var(--light-gray);
    border-radius: 8px;
    padding: 20px;
    width: 150px;
}

.subscription-type {
    color: var(--marine-blue);
    font-weight: var(--fw-500);
}

.subscription-price {
    color: var(--cool-gray);
    font-size: 0.8rem;
    padding-top: 3px;
    padding-bottom: 5px;
}

.freeMonths {
    font-size: 0.75rem;
    color: var(--marine-blue);
    display: none;
}

.select-plan:hover {
    border: 1px solid var(--marine-blue);
    cursor: pointer;
}

.select-plan.active {
    border: 1px solid var(--marine-blue);
    background-color: var(--magnolia);
}

.select-plan img {
    padding-bottom: 40px;
    width: 50px;
}

/* Change Subscription */
.change-subscription {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    margin-top: 30px;
    background-color: var(--magnolia);
    border-radius: 8px;
    padding: 10px;
}

.change-subscription p {
    color: var(--cool-gray);
    font-weight: var(--fw-500);
}

#monthly {
    color: var(--marine-blue);
}

.back-link {
    cursor: pointer;
}

.change-steps {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 50px;
}

/* Responsive */
@media screen and (max-width: 1100px) {
    .select-plan {
        width: 120px;
    }
}

@media screen and (max-width: 950px) {
    #steps-number {
        width: 25px;
        height: 25px;
        font-size: 0.75rem;
    }
    .steps div p:nth-child(1) {
        font-size: 0.7rem;
    }

    .steps div p:nth-child(2) {
        font-size: 0.85rem;
    }

    /* Content */
    .content {
        padding-left: 30px;
        padding-right: 30px;
    }
}

@media screen and (max-width: 860px) {
    #second-step .title {
        font-size: 2.7rem;
    }
    #second-step .description {
        font-size: 1rem;
    }
    .change-steps {
        margin-top: 40px;
    }
    .content {
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 0;
    }
    .subscription-container {
        display: block;
    }
    .select-plan {
        width: 100%;
        display: flex;
        align-items: center;
        padding: 15px;
    }
    .select-plan:not(:last-child) {
        margin-bottom: 20px;
    }
    .select-plan img {
        width: 40px;
        padding-bottom: 0;
        margin-right: 20px;
    }
}

@media screen and (max-width: 600px) {
    body {
        display: block;
    }
    .container {
        display: inline;
        padding: 0;
        margin: 0;
    }
    .sidebar {
        background: url('../images/bg-sidebar-mobile.svg') no-repeat;
        background-size: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        gap: 20px;
        position: fixed;
        z-index: 1;
    }
    .steps:not(:last-child) {
        margin-bottom: 0;
    }
    .steps > div:nth-child(2) {
        display: none;
    }
    #steps-number {
        width: 40px;
        height: 40px;
        font-size: 1rem;
    }
    .change-steps {
        margin-top: 20px;
        padding-bottom: 20px;
    }

    /* Content */
    .content {
        z-index: 2;
        position: relative;
        top: 100px;
        width: 90%;
        background-color: var(--white);
        margin: 0 auto;
        border-radius: 8px;
        padding-top: 20px;
    }
}

@media screen and (max-width: 400px) {
    #steps-number {
        font-size: 0.9rem;
        width: 35px;
        height: 35px;
    }
    .title {
        font-size: 2.5rem;
        margin-bottom: 15px;
    }
    #first-step p {
        font-size: 0.9rem;
        margin-bottom: 30px;
    }
    .first-step-form label {
        font-size: 0.9rem;
    }
    .first-step-form input {
        padding: 10px;
    }
    .first-step-form input::placeholder {
        font-size: 0.9rem;
    }
    .btn {
        padding: 10px 15px;
        margin-top: 40px;
    }
}
